@import "./variables";

* {
    box-sizing: border-box;
}
html,
body,
#root {
    height: 100%;
}

/* Базовая типографика */
body {
    margin: 0;
    font-family: Inter, system-ui, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    color: $txt;
    background: $bg; /* бэкап-цвет */
    position: relative;
}

/* Фоновая текстура — фиксируется и всегда во всю страницу */
body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    background: radial-gradient(
            1100px 700px at 85% -10%,
            rgba(25, 215, 255, 0.1),
            transparent 60%
        ),
        radial-gradient(
            900px 600px at -20% 110%,
            rgba(155, 123, 255, 0.1),
            transparent 60%
        ),
        linear-gradient(180deg, $bg 0%, $bg-2 100%);
}
